.chat {
  flex: 0.80;
  display: flex;
  flex-direction: column;
  opacity: 1 !important;
  pointer-events: all !important;
}

.chat>.body {
  padding-top: 96px;
}

.chatMobile {
  position: absolute;
  /* height: 91vh; */
  height: 100vh;
  transition: all .4s ease-in;
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  overflow: hidden;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #29272b;
  color: #fff;
  opacity: .995;
  width: 100%;
  z-index: 2;
  border-bottom: 2px solid #29272b;
  transition: all .4s ease-in;
}

.header:hover {
  border-bottom: 2px solid #000;
}

.info {
  flex: 1;
  padding-left: 20px;
}

.info>h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.info>p {
  color: gray;
}

.headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.headerRight>.MuiIconButton-root {
  color: #9E9E9E;
  transition: all .4s ease-in;
}

.headerRight>.MuiIconButton-root:hover {
  color: #fff;
}

.body {
  background: #29272b;
  flex: 1;
  padding: 30px;
  overflow: scroll;
  padding-bottom: 0;
}

.chatMsg {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 16px;
  max-width: 60%;
  min-width: 80px;
  overflow: scroll;
}

.active {
  margin-left: auto;
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 16px;
  display: none;
}

.visible {
  display: block;
}

.chatName {
  position: absolute;
  top: -15px;
  white-space: nowrap;
  font-size: x-small;
  color: #fff;
}

.reciever {
  margin-left: auto;
  background-color: #dcf8c6;
}

.timestamp {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid #2a282c;
  padding: 0 24px;
  background-color: #383838;
}

.footer>form {
  flex: 1;
  display: flex;
  margin: 0 24px;
}

.footer>form>input {
  flex: 1;
  border-radius: 30px;
  border: none;
  padding: 10px;
  outline: none;
}

.footer>form>input[type="text"] {
  font-size: 16px;
}

.footer>form>button {
  display: none;
}

.footer>form>.MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

@media (max-width: 960px) {
  .header {
    padding: 8px;
    border: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }
  .body {
    height: calc(100% - 18vh);
    padding-top: 40px;
    overflow-x: hidden;
  }
  .footer {
    background: #232425;
    height: 10vh;
    padding: 0;
    padding-left: 8px;
  }
  .footer>form {
    margin: 0 3px 0 12px;
  }
  .reciever {
    background-color: #9fd0c6;
  }
}