.chat {
  flex: 0.80;
  display: flex;
  flex-direction: column;
  opacity: 1 !important;
  pointer-events: all !important;
}

.chat>.body {
  padding-top: 96px;
  position: relative;
}

.chatMobile {
  position: absolute;
  height: 100vh;
  transition: all .4s ease-in;
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  overflow: hidden;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #29272b;
  color: #fff;
  opacity: .995;
  width: 100%;
  z-index: 2;
  border-bottom: 2px solid #29272b;
  transition: all .4s ease-in;
}

.header:hover {
  border-bottom: 2px solid #000;
}

.info {
  flex: 1;
  padding-left: 20px;
}

.info>h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.info>p {
  color: gray;
}

.headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.headerRight>.MuiIconButton-root {
  color: #9E9E9E;
  transition: all .4s ease-in;
}

.headerRight>.MuiIconButton-root:hover {
  color: #fff;
}

.headerRight>div>.MuiIconButton-root {
  color: #9E9E9E;
  transition: all .4s ease-in;
}

.headerRight>div>.MuiIconButton-root:hover {
  color: #fff;
}

.body {
  background: #29272b;
  flex: 1;
  padding: 30px;
  overflow: scroll;
  padding-bottom: 0;
  flex-direction: column-reverse;
  display: flex;
}

.chatBubble {
  position: relative;
  font-size: 16px;
  background-color: #fff;
  border-radius: 16px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
  max-width: 60%;
  min-width: 80px;
}

.chatBubble>p {
  padding: 10px;
  overflow-x: scroll;
}

.active {
  margin-left: auto;
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 16px;
  display: none;
}

.visible {
  display: block;
}

.chatName {
  position: absolute;
  bottom: -15px;
  right: 8px;
  white-space: nowrap;
  font-size: x-small;
  max-width: 300px;
  color: #ffff;
  background-color: #dcf8c600 !important;
}

.reciever {
  margin-left: auto;
  background-color: #dcf8c6;
}

.timestamp {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid #2a282c;
  padding: 0 24px;
  background-color: #383838;
  position: relative;
}

.footer>form {
  flex: 1;
  display: flex;
  margin: 0 24px;
}

.footer>form>input {
  flex: 1;
  border-radius: 30px;
  border: none;
  padding: 10px;
  outline: none;
}

.footer>form>input[type="text"] {
  font-size: 16px;
}

.footer>form>button {
  display: none;
}

.footer>form>.MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

progress {
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  height: 4px;
}

progress[value]::-webkit-progress-value {
  background-color: #3c143a;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.searchBar>.MuiPopover-paper {
  width: 240px;
}

.searchBar>.MuiPopover-paper>input {
  outline: none;
  border: none;
  width: 100%;
  border-radius: 12px;
  padding: 12px;
}

.headerRight>div>.desktopSearch {
  outline: none;
  border: none;
  margin-right: 4px;
  border-radius: 12px;
  padding: 12px;
  transition: all .4s ease-in-out;
}

.scrollToBottom {
  position: fixed;
  left: 60%;
  transform: translateX(-50%);
  z-index: 0;
  transition: all .4s ease-in-out;
}

.scrollToBottomOpen {
  position: fixed;
  left: 60%;
  transform: translateX(-50%);
  z-index: 1;
}

.imageBubble {
  max-height: 450px;
  min-height: 320px;
  width: -moz-fit-content;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  border-radius: 10px;
  /* margin-bottom: 16px; */
  max-width: 300px;
  min-width: 360px;
  background-color: #383838 !important;
  cursor: pointer;
}

.imageUploadContainer {
  display: flex;
  align-items: baseline;
}

.videoLink {
  padding: 0 16px;
  padding-top: 0;
  white-space: nowrap;
  max-width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline !important;
}

.custom-file-input {
  color: transparent;
  width: 40px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: '';
  white-space: nowrap;
  background: url(https://img.icons8.com/material/24/ffffff/camera.png) no-repeat;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active {
  outline: 0;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.error {
  position: fixed;
  bottom: 10vh;
  color: red;
}

.scrollDownBtn {
  position: fixed;
  left: 60vw;
  bottom: 11vh;
  background: #000;
  border-radius: 50%;
  padding: 9px;
  color: #AB54FE;
  cursor: pointer;
  transition: all .8s ease-in-out;
}

@media (max-width: 960px) {
  .header {
    padding: 8px;
    border: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }
  .body {
    height: calc(100% - 10vh);
    padding-top: 96px;
    overflow-x: hidden;
  }
  .footer {
    background: #232425;
    height: 10vh;
    padding: 0;
    padding-left: 8px;
  }
  .footer>form {
    margin: 0 3px 0 12px;
  }
  .reciever {
    background-color: #9fd0c6;
  }
  .imageBubble {
    min-height: 180px;
    min-width: 220px;
  }
  .chatBubble {
    max-width: 70%;
  }
  .headerRight>div>.desktopSearch {
    position: absolute;
    right: 48px;
    top: 1.7vh;
  }
}