.imageCarouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: black;
}

.imageCarouselContainer>.imageCarouselBtn {
  max-height: 40vh;
  max-width: 24px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  position: fixed;
  left: 74vw;
}

.imageCarouselContainer>.imageCarouselBtn:first-child {
  left: 24vw;
}

.imageCarouselContainer>.imageCarouselImg {
  max-height: 56vh;
  max-width: 40vw;
  border-radius: 10px;
  transition: all .4s ease-in;
}

.imageCarouselContainer>.imageLibrary {
  display: flex;
  height: 64px;
  position: fixed;
  bottom: 10vh;
  width: 40%;
  justify-content: space-between;
  cursor: pointer;
  overflow-x: scroll;
  transition: all .4s ease-in;
}

.imageCarouselContainer>.imageLibrary>img {
  width: 64px;
  height: 64px;
  object-fit: scale-down;
  border-radius: 4px;
}

@media (max-width: 960px) {
  .imageCarouselContainer>.imageCarouselImg {
    max-width: 80vw;
    border-radius: 10px;
  }
  .imageCarouselContainer>.imageCarouselBtn {
    left: 93vw;
  }
  .imageCarouselContainer>.imageCarouselBtn:first-child {
    left: 4vw;
  }
  .imageCarouselContainer>.imageLibrary {
    width: 90%;
  }
}