.login {
    background-color: #2b272c;
    height: 100%;
    width: 100vw;
    display: grid;
    place-items: center;
}

.container {
    padding: 80px 320px;
    text-align: center;
    background-color: #232324;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.container>Button {
    font-size: 1.2rem;
    color: #4a8bfb;
    text-transform: inherit !important;
    border: 1px solid;
    padding: 12px;
    transition: all .4s;
}

.container>Button:hover {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 16px;
}

.container>img {
    height: 120px;
}

.text {
    color: #fff;
    font-size: 2rem;
    margin: 1.5rem 0 2rem;
}

@media (max-width: 960px) {
    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
    }
    .container {
        padding: 0;
        height: 64vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container>img {
        height: 64px;
    }
    .text {
        font-size: 1rem;
    }
    .container>Button {
        font-size: .6rem;
        border: none !important;
    }
}