.iconContainer {
  height: 8vh;
  width: 98vw;
  position: fixed;
  /* bottom: .5vh; */
  left: 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #232324;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  transition: all .4s ease-in;
  /* z-index: 2; */
}

.iconContainer>button>.MuiIconButton-label {
  display: flex;
  flex-direction: column;
  color: #bcbcbd;
}

.iconContainer>button>.MuiIconButton-label>p {
  font-size: .8rem;
  margin-top: 4px;
}

.speedDialContainer {
  bottom: 66vh;
  position: fixed;
}

.speedDialContainer>.MuiSpeedDial-root>.MuiFab-primary {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}