.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    background-color: #383838;
    color: #fff;
    transition: all .4s ease-in;
}

.sidebarChat:hover {
    background-color: #2a282cba;
}

.sidebarChat>.MuiAvatar-root {
    width: 60px;
    height: 60px;
}

.info>h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.info {
    margin-left: 15px;
}

.info>p {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

a {
    text-decoration: none !important;
    color: #000;
}

@media (max-width: 960px) {
    .sidebarChat {
        border-bottom: none;
        padding: 12px 24px;
        background-color: #29282b;
    }
    .sidebarChat:hover {
        background-color: #383838;
    }
    .info>h2 {
        color: #ffffff;
    }
    .createNewIcon {
        position: absolute !important;
        top: 16px;
        right: 16px;
    }
}