.sidebar {
    flex: 0.20;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    border-right: 2px solid #000000;
}

.search {
    display: flex;
    align-items: center;
    background-color: #383838;
    height: 64px;
    padding: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 35px;
    border-radius: 12px;
}

.searchContainer>.MuiSvgIcon-root {
    color: #808080;
    margin: 10px;
}

.searchContainer>input {
    border: none;
    margin-left: 10px;
    outline: none;
    width: 100%;
}

.sideBarHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #383838;
    color: #fff;
}

.sideBarHeader>h3 {
    font-weight: 500;
}

.headerLeft {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-evenly;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.headerRight>.MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.chats {
    flex: 1;
    overflow-x: scroll;
    background-color: #383838;
}

.MuiPopover-paper {
    background-color: #29282b !important;
    color: #fff !important;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) !important;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.MuiPopover-paper>.MuiIconButton-root {
    color: white;
    font-size: 1.17rem;
}

.MuiPopover-paper>.MuiIconButton-root>.MuiIconButton-label>.MuiSvgIcon-root {
    margin-right: 12px;
    height: .7em;
}

.popoverButton {
    border-radius: 8px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: left !important;
}

.popoverButton:hover {
    background-color: #383838 !important;
}

@media (max-width: 960px) {
    .sidebar {
        height: 100vh;
        min-width: unset;
    }
    .sideBarHeader {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: #28262a;
        color: #fff;
    }
    .header {
        background-color: #232425;
        color: #fff;
    }
    .chats a:first-of-type {
        padding-top: 32px;
    }
    .headerRight {
        justify-content: flex-end !important;
    }
    .chats {
        background-color: #29292b;
        margin-bottom: 10vh;
    }
    .search {
        width: 100vw;
        background: none;
    }
}