.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
    background-color: #ededed;
}

.info>h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.info {
    margin-left: 15px;
}

a {
    text-decoration: none !important;
    color: #000;
}

@media (max-width: 960px) {
    .sidebarChat {
        border-bottom: none;
        padding: 12px 24px;
    }
    .sidebarChat:hover {
        background-color: #2b272c;
    }
    .info>h2 {
        color: #ffffff;
    }
    .info>p {
        white-space: nowrap;
        width: 64vw;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    .createNewIcon {
        position: absolute !important;
        top: .6vh;
        right: 16px;
    }
}